[Unit]
Description=Go Ethereum Client
After=syslog.target network.target

[Service]
User={{ geth_user }}
Group={{ geth_group }}
Environment=HOME=/home/{{ geth_user }}
{% if geth_env_opts %}
Environment='GETH_OPTS={{geth_env_opts|map('to_json')|join(' ')}}'
{% endif %}
Type=simple
ExecStart=/bin/sh -c "{{ geth_current_dir }}/geth --nat extip:{{geth_host_ip}} {{geth_cmdline_args}} >> {{geth_log_dir}}/geth.log 2>&1"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
